html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.calcDisplay {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100px;
    width: 300px;
    border: 1px solid black;
}
